{% extends "base.html" %}
{% block title_page %}
    Market Page
{% endblock %}
{% block body_content %}
    <h1>Welcome to Market Page</h1>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">BARCODE</th>
                <th scope="col">PRICE</th>
                <th scope="col">OPTIONS</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for dict_item in items %}
            <tr>
                <td>{{ dict_item.id }}</td>
                <td>{{ dict_item.name }}</td>
                <td>{{ dict_item.barcode }}</td>
                <td>{{ dict_item.price }}$</td>
                <td>
                    <button class="btn btn-outline btn-info">
                        Additional Info
                    </button>
                    <button class="btn btn-outline btn-success">
                        Buy
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}