{% extends "base.html" %}
{% block title_page %}
    Home Page
{% endblock %}
{% block body_content %}
    <style>
        .wrapper {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            text-align: center;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .blue-btn a {
            color: white;
            text-decoration: none;
            text-align: center;
            display: block; /* important */
        }

        .blue-btn, .first-link {
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
        }

        .blue-btn {
            height: 64px;
            font: normal normal 700 1em/4em Arial, sans-serif;
            overflow: hidden;
            width: 200px;
            background-color: #3b5998;
            border-radius: 20px;
        }

        .blue-btn:hover {
            background-color: #003D60;

        }

        .blue-btn a:hover {
            text-decoration: none;
        }

        .first-link {
            margin-top: 0em;
        }

        .blue-btn:hover .first-link {
            margin-top: -4em;
        }
    </style>
    <h1 class="display-4 font-weight-normal">
        Welcome To Online Market
    </h1>
    <br>
    <div class="wrapper">
        <img src="{{ url_for('static', filename='do_it_now-unsplash.jpg') }}"
             style="max-width: 35%; height: auto;"
             alt="Greetings Image">
        <div class="blue-btn">
            <a class="first-link" href="">
                Get Started
            </a>
            <a href="{{ url_for('market_page') }}">
                Shopping
            </a>
        </div>
    </div>
{% endblock %}