{% extends "base.html" %}
{% block title_page %}
    Market Page
{% endblock %}
{% block body_content %}
    <h1>Welcome to Market Page</h1>
    <div class="row" style="margin-top: 20px; margin-left: 20px">
        <div class="col-8">
            <h2>Available Items</h2>
            <br>
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">BARCODE</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">OPTIONS</th>
                </tr>
                </thead>
                <tbody>
                <!-- Your rows inside the table HERE: -->
                {% for dict_item in items %}
                    {% include "additional_files/items_modals.html" %}
                    <tr>
                        <td>{{ dict_item.id }}</td>
                        <td>{{ dict_item.name }}</td>
                        <td>{{ dict_item.barcode }}</td>
                        <td>{{ dict_item.price }}$</td>
                        <td>
                            <button class="btn btn-outline btn-info"
                                    data-toggle="modal"
                                    data-target="#Modal-Info-{{ dict_item.id }}">
                                Additional Info
                            </button>
                            <button class="btn btn-outline btn-success"
                                    data-toggle="modal"
                                    data-target="#Modal-Buy-{{ dict_item.id }}">
                                Buy
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h2>Owned Items</h2>
            <br>
            <div class="row">
                {% for bought_item in user_items %}
                {% include "additional_files/owned_items_modals.html" %}
                    <div class="col-md-6">
                        <div style="margin-bottom: 5px" class="card text-center bg-dark">
                            <div class="card-body">
                                <h5 class="card-title">{{ bought_item.name }}</h5>
                                <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                        data-toggle="modal" data-target="#Modal-Discard-{{ bought_item.id }}">
                                    Discard
                                </button>
                                <p class="card-text"><strong>The item costs {{ bought_item.price }}$</strong></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}