{% extends "base.html" %}
{% block title_page %}
    Registration Page
{% endblock %}
{% block body_content %}
    <body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color: white">
            {{ form.hidden_tag() }}
            <br>
            <img class="mb-4" src="{{ url_for('static', filename='registration_image_unsplash.jpg') }}"
                 style="max-width: 25%; height: auto;"
                 alt="Registration Image">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>
            {{ form.username.label().title() }}
            {{ form.username(class="form-control", placeholder="Enter the username") }}
            {{ form.email.label().title() }}
            {{ form.email(class="form-control", placeholder="Enter the email address") }}
            {{ form.pd.label().title() }}
            {{ form.pd(class="form-control", placeholder="Enter the password") }}
            {{ form.confirm_pd.label().title() }}
            {{ form.confirm_pd(class="form-control", placeholder="Repeat the password one more time") }}
            <br>
            <div class="checkbox mb-3">
                <h6>Already has an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('log_in_page') }}">Sing In</a>
            </div>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
    </body>
{% endblock %}